:root{
    --color-primario: #EC111A;
    --sombras: #282D31;
    --bordes: #DFE0E0;
    --color-titulos: #282D31;
    --color-parrafos: #53575A;
}

.cards-grid{
    width: 80%;
    display: grid;
    gap: 1.5em;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));    
    margin-left: auto;
    margin-right: auto;
}

.card{
    background-color: #fff;
    border: 2px solid var(--bordes);
    border-radius: .5em;
}

.card-img img{
    width: 100%;
    border-radius: .5em .5em 0 0;
}

.card-content{
    padding: 0 1.1em 1.1em 1.1em;
    text-align: center;
}

.card-tittle{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 1.2em;
    color: var(--color-titulos);
    text-align: center;
    text-transform: uppercase;
}

.card-parrafo{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 1em;
    color: var(--color-parrafos);
    line-height: 1.5;
    text-align: justify;
}

.card-boton{
    background-color: var(--color-primario);
    text-decoration: none;
    border-radius: 1em;
    padding: .5em 1em;
    display: inline-block; 
    color: #fff;
    margin-left: 0.9em;
    display: inline-block;
}

.card-boton:hover{
    background-color: #000;
    transition: background-color 0.5s ease-in-out;

}  

